:host {
  width: 100%;
  height: 100%;
  padding: 1rem;

  .photo-container {
    display: flex;
    justify-content: center;
    background-color: #242B2E;
    padding: 1rem;
    max-height: 80%;

    img {
      max-width: 100%;
      object-fit: contain;
    }
  }

  .photo-details-container {
    padding-top: 1rem;

    .photo-title {
      font-weight: 500;
      font-size: 1.5rem;
    }
  }
}