:host {
  width: 200px;
  height: 300px;
  box-shadow: rgb(0 0 0 / 8%) 0px 0px 4px, rgb(0 0 0 / 16%) 0px 4px 12px;
  display: flex;
  flex-direction: column;
  border: 1px solid transparent;

  transition: 0.2s all;

  &:hover {
    cursor: pointer;
    border-color: rgba(0, 0, 0, 0.3);
  }

  .cover-container {
    flex: 1;
    background: #242B2E;
    color: #F5F5F5;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1rem;

    i {
      font-size: 1.5rem;
      padding-bottom: 0.5rem;
    }
  }

  .album-details-container {
    flex: 1;
    padding: 0.5rem;

    .album-title {
      font-size: 1rem;
      font-weight: 500;
    }
  }
}